.navbar-header {
  background-color: #d35252;
}
.btn_more {
  background-color: #e9ecef;
  color: #d35252;
  border: 1px solid #d35252;
}
.btn_more:hover {
  background-color: #d35252;
  border: 1px solid #d35252;
}
.card_container {
  height: 250px;
}
.cd_img {
  height: 250px;
}
.form_container h5 {
  text-align: center;
  margin: 50px;
}
.row_form {
  margin: auto;
}
.input_form {
  border: 1px solid #d35252;
}
.btn_send {
  background-color: #fff;
  color: #d35252;
  border: 1px solid #d35252;
  display: block;
  margin: auto;
}
.btn_send:hover {
  background-color: #d35252;
  border: 1px solid #d35252;
}
.footer_copyright {
  background-color: #d35252;
  height: 100px;
  line-height: 100px;
}
.footer_copyright p {
  margin: 0;
}
