.navbar-header {
  background-color: #d35252;
}
.btn_more {
  background-color: #e9ecef;
  color: #d35252;
  border: 1px solid #d35252;
}
.btn_more:hover {
  background-color: #d35252;
  border: 1px solid #d35252;
}
.card_container {
  height: 250px;
}
.cd_img {
  height: 250px;
}